{% extends 'blog/base.html' %}
{% block title %}Autores{% endblock %}
{% block contenido %}
<h2>Autores</h2>
<ul class="list-group">
    {% if object_list %}
  {% for autor in autores %}
    <li class="list-group-item">
      <strong>{{ autor.nombre }}</strong> ({{ autor.email }})<br>
      {{ autor.biografia|linebreaksbr }}
    </li>
    {% endfor %}
    {% else %}
                        <div class="alert alert-warning mt-3" role="alert">
                            No se encontraron autores.
                        </div>
  
   {% endif %}
   {% if user.is_authenticated %}
       <div class="mb-3 text-end">
                        <a href="{% url 'autor_create' %}" class="btn btn-primary">
                            Crear nuevo autor
                        </a>
        </div>             
    {% endif %}
</ul>
{% endblock %}